.container {
   display: flex;
   flex-direction: column;
   width: 320px;
   a {
      margin: 0 auto;
      .image_container { 
         display: block;
         margin: 10px auto;
      }
      .text_logo {
         width: 210px;
         font-size: 30px;
         text-align: center;
         text-transform: uppercase;
         margin: 0 auto;
         padding-bottom: 30px;
         margin-bottom: 30px;
         border-bottom: 0.5px solid #A4ACAD;
         color: #000000;
      }
   }

}
