.container {
   display: flex;
   .wrapper {
   }
   .main {
      display: flex;
      flex-direction: column;
      // padding: 0 6.875rem;
      // margin: 0 auto;
      min-width: 1170px;
      min-height: calc(100vh - 247px);
      background: #f2f2f2;
      h1 {
         .itemH1 {
            font-size: 2.4444rem;
            font-weight: bold;
         }
      }
      .container_swiper {
         width: 950px;
         height: 470px;
         margin: 0 auto;
         .SwiperSlide {
            position: relative;
            .btn_slider {
               width: 277px;
               height: 60px;
               background: #f46d40;
               color: #f2f2f2;
               border-radius: 5px;
               font-size: 1.8888rem;
               font-weight: 500;
               position: absolute;
               top: 388px;
               right: 40px;
               transition: all 0.2s linear;
               cursor: pointer;
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
         }
      }
      .top {
         margin: 50px auto;
         .container_grid {
            display: grid;
            grid-template-columns: 450px repeat(2, 220px);
            grid-template-rows: repeat(2, 200px);
            gap: 28px 28px;
            grid-auto-flow: row;
            grid-template-areas:
               "chiken ugor corn"
               "pizza sale sale";
            .chiken {
               grid-area: chiken;
               border-radius: 5px;
               transition: all 0.3s ease;
               position: relative;
               cursor: pointer;
               h3 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #f2f2f2;
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
               }
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
            .ugor {
               grid-area: ugor;
               border-radius: 5px;
               transition: all 0.3s ease;
               position: relative;
               cursor: pointer;
               h3 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #f2f2f2;
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
               }
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
            .corn {
               grid-area: corn;
               border-radius: 5px;
               transition: all 0.3s ease;
               position: relative;
               cursor: pointer;
               h3 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #f2f2f2;
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
               }
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
            .pizza {
               grid-area: pizza;
               border-radius: 5px;
               transition: all 0.3s ease;
               position: relative;
               cursor: pointer;
               h3 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #f2f2f2;
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
               }
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
            .sale {
               grid-area: sale;
               border-radius: 5px;
               transition: all 0.3s ease;
               position: relative;
               cursor: pointer;
               h3 {
                  font-weight: 500;
                  font-size: 24px;
                  color: #f2f2f2;
                  position: absolute;
                  left: 10px;
                  bottom: 10px;
               }
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
         }
      }
      .middle {
         display: flex;
         position: relative;
         width: 1170px;
         // margin: 0 auto;
         .btn_prev {
            position: absolute;
            left: 0;
            top: 230px;
            width: 60px;
            height: 60px;
            margin-left: 10px;
            border-radius: 50%;
            background: black;
            color: aliceblue;
            .prevIcon {
               width: 30px;
               height: 30px;
            }
         }
         .btn_next {
            position: absolute;
            right: 0;
            top: 230px;
            width: 60px;
            height: 60px;
            margin-right: 10px;
            border-radius: 50%;
            background: black;
            color: aliceblue;
            .nextIcon {
               width: 30px;
               height: 30px;
            }
         }
      }
      .bottom {
         display: flex;
         flex-direction: column;
         align-items: stretch;
         position: relative;
         width: 950px;
         margin: 0 auto;
         margin-bottom: 60px;
         font-weight: 400;
         font-size: 18px;
         line-height: 18px;
         color: #a4acad;
         h3 {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
         }
         .bottomList {
            margin-top: 10px;
            margin-bottom: 10px;
            li:nth-child(2) {
               margin-top: 10px;
            }
            li {
               list-style: disc;
               margin-left: 30px;
            }
         }
         p:nth-child(4) {
            display: block;
            position: relative;
            height: 108px;
         }
         p:nth-child(4):after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(
               to bottom,
               transparent 0%,
               rgba(242, 242, 242, 1) 80%
            );
         }
         .btnMore {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -20px;
            left: 45%;
            font-size: 24px;
            color: #f46d40;
            margin: 0 auto;
            cursor: pointer;
            .arrowIcon {
               width: 30px;
               height: 30px;
            }
         }
      }
      .activeBottom {
         display: flex;
         flex-direction: column;
         align-items: stretch;
         position: relative;
         width: 950px;
         height: 500px;
         margin: 0 auto;
         font-weight: 400;
         font-size: 18px;
         line-height: 18px;
         color: #0c0c0c;
         h3 {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
         }
         .bottomList {
            margin-top: 10px;
            margin-bottom: 10px;
            li:nth-child(2) {
               margin-top: 10px;
            }
            li {
               list-style: disc;
               margin-left: 30px;
            }
         }
         .btnMore {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 20px;
            left: 45%;
            font-size: 24px;
            color: #f46d40;
            margin: 0 auto;
            cursor: pointer;
            .arrowIcon {
               width: 30px;
               height: 30px;
            }
         }
      }
   }
}
