.container {
   display: flex;
   .wrapper {
   }
   .main {
      display: flex;
      flex-direction: column;
      // padding: 0 6.875rem;
      // margin: 0 auto;
      min-width: 1170px;
      min-height: calc(100vh - 247px);
      background: #f2f2f2;
      h1 {
         font-size: 44px;
         font-weight: bold;
      }
      .container_swiper {
         width: 950px;
         height: 470px;
         margin: 0 auto;
         .SwiperSlide {
            position: relative;
            .btn_slider {
               width: 277px;
               height: 60px;
               background: #F46D40;
               color: #f2f2f2;
               border-radius: 5px;
               font-size: 34px;
               font-weight: 500;
               position: absolute;
               top: 388px;
               right: 40px;
               transition: all 0.2s linear;
               cursor: pointer;
               &:hover {
                  box-shadow: 2px 2px 8px black;
               }
            }
         }
      }
   }
}
